name: Pull Request Validation
on: 
  pull_request:
    paths:
      - 'terraform/**'
      - '.github/**'

jobs:
  fmt:
    runs-on: ubuntu-latest
    env:
      TERRAFORM_ENV_BASE64: ${{ secrets.TERRAFORM_ENV_BASE64 }}
    steps:
    - uses: actions/checkout@v4
    - name: fmt-check
      run: |
        terraform fmt -recursive -check .

  lint:
    needs: [fmt]
    runs-on: ubuntu-latest
    env:
      TERRAFORM_ENV_BASE64: ${{ secrets.TERRAFORM_ENV_BASE64 }}
    steps:
    - uses: actions/checkout@v4

    - uses: terraform-linters/setup-tflint@v4
      name: Setup TFLint
      with:
        tflint_version: latest

    - name: tflint
      run: |
        _branch="${GITHUB_BASE_REF}"
        case "${_branch}" in
          "prod")
            _tfdir=terraform/prod
            ;;
          "qa")
            _tfdir=terraform/qa
            ;;
          *)
            echo "ERROR: Unknown target branch: ${_branch}"
            exit 1
        esac
        cd ${_tfdir}
        echo "***Running terraform lint***"
        tflint

  validate:
    needs: [lint]
    name: validate
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      TERRAFORM_ENV_BASE64: ${{ secrets.TERRAFORM_ENV_BASE64 }}
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - uses: hashicorp/setup-terraform@v3
    - run: |-
        echo $TERRAFORM_ENV_BASE64 | base64 -d > tfvars
        source tfvars
        _branch="${GITHUB_BASE_REF}"
        case "${_branch}" in
          "prod")
            _tfdir=terraform/prod
            ;;
          "qa")
            _tfdir=terraform/qa
            ;;
          *)
            echo "ERROR: Unknown target branch: ${_branch}"
            exit 1
        esac
        terraform -chdir=${_tfdir} init
        echo "***Running terraform validate***"
        terraform -chdir=${_tfdir} validate
        
  trivy:
    needs: [validate]
    runs-on: ubuntu-latest
    env:
      TERRAFORM_ENV_BASE64: ${{ secrets.TERRAFORM_ENV_BASE64 }}
    steps:
    - uses: actions/checkout@v4
    - name: Trivy
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'config'
        hide-progress: false
        exit-code: '1'


  tfplan:
    needs: [validate]
    runs-on: ubuntu-latest
    env:
      TERRAFORM_ENV_BASE64: ${{ secrets.TERRAFORM_ENV_BASE64 }}
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
    - uses: hashicorp/setup-terraform@v3
    - run: |-
        echo $TERRAFORM_ENV_BASE64 | base64 -d > tfvars
        source tfvars
        _branch="${GITHUB_BASE_REF}"
        case "${_branch}" in
          "prod")
            _tfdir=terraform/prod
            ;;
          "qa")
            _tfdir=terraform/qa
            ;;
          *)
            echo "ERROR: Unknown target branch: ${_branch}"
            exit 1
        esac
        terraform -chdir=${_tfdir} init
        echo "***Running terraform plan***"
        terraform -chdir=${_tfdir} plan